In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
import pandas as pd
import os
import random
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")
plt.rc('font', family='NanumBarunGothic')

In [2]:
test= pd.read_csv("/Users/gyujin/Downloads/open/test.csv")
train= pd.read_csv("/Users/gyujin/Downloads/open/train.csv")

In [3]:
X = train.drop(["ID", "genre"], axis = 1)
Y = train[['genre']]
test = test.drop(["ID"], axis = 1)

In [4]:
#라벨 인코딩
le = LabelEncoder()
le.fit(Y)

LabelEncoder()

In [5]:
y= le.transform(Y)
y

array([14, 12,  6, ...,  8,  0,  4])

In [6]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2)

In [7]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed 고정

In [8]:
model = RandomForestClassifier(random_state = 42)
model.fit(X_train,y_train)

RandomForestClassifier(random_state=42)

In [9]:
val_pred = model.predict(X_valid)

# Macro f1 score을 사용하기 위해 average 인자 값을 "macro" 로 설정해줍니다.
print("현재 Macro F1 Score의 검증 점수는 {}입니다.".format(f1_score(val_pred, y_valid, average = "macro")))

현재 Macro F1 Score의 검증 점수는 0.6276528047594506입니다.

In [10]:
pred = model.predict(test)

In [11]:
# 제출 파일을 불러옵니다.
submission = pd.read_csv("/Users/gyujin/Downloads/open/sample_submission.csv")
submission["genre"] = pred
submission

               ID  genre
0      TEST_00000      2
1      TEST_00001      0
2      TEST_00002      1
3      TEST_00003     11
4      TEST_00004      3
...           ...    ...
16917  TEST_16917     11
16918  TEST_16918      2
16919  TEST_16919      9
16920  TEST_16920     10
16921  TEST_16921      7

[16922 rows x 2 columns]

In [12]:
submission.to_csv("submission.csv",index = False)

In [13]:
pred1= le.inverse_transform(pred)
submission["genre"] = pred1
submission

               ID            genre
0      TEST_00000           Hiphop
1      TEST_00001        Dark Trap
2      TEST_00002              Emo
3      TEST_00003        techhouse
4      TEST_00004              Pop
...           ...              ...
16917  TEST_16917        techhouse
16918  TEST_16918           Hiphop
16919  TEST_16919        hardstyle
16920  TEST_16920        psytrance
16921  TEST_16921  Underground Rap

[16922 rows x 2 columns]

In [14]:
submission.to_csv("submission.csv",index = False)